.blockchainsec1main {
  overflow: hidden;
  position: relative;

}

.blockchainvideo {
  width: 100%;
  object-fit: cover;
  height: 100%;
  display: flex;
  position: absolute;
  opacity: 0.7;
  right: 0%;
  transform: scaleX(-1);

}

.overlay {
  width: 100%;
  object-fit: cover;
  height: 100%;
  display: flex;
  position: absolute;
  opacity: 1;
  right: 0%;
  bottom: 0%;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.505) 39%, rgba(0, 0, 0, 0.308) 77%, rgba(0, 0, 0, 1) 100%);
}

#blockchainbody {
  margin: 0px;
  width: 100%;
  height: 100%;
  padding: 0%;
  box-sizing: border-box;


}

#blockchainsec1 {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: row;

  gap: 20px;
  padding: 20px;

}

#blockchainsec2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  z-index: 0;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 5%;
}

#blockchainsec3 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;

  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px;
}

#blockchainsec4 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
}

#blockchainsec5 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

#blockchainleft {
  width: 50%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 0;
}

#s5main {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0px;
}

#blockchainright {

  width: 50%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blockchainhead {
  font-size: 50px;
  font-weight: 800;
  color: white;
  font-family: 'Manrope', sans-serif;
}

.blockchainheading {
  color: #ffffff;
  font-family: 'Manrope', sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  width: 100%;
  line-height: 52px;
  /* 130% */
  text-transform: capitalize;
}

.blockchainsmall {
  color: #eb5722;
  font-family: 'Manrope', sans-serif;
  text-align: left;
  font-size: 16px;
  font-style: normal;
  width: 100%;
  font-weight: 500;
  line-height: 19.2px;
  /* 120% */
  letter-spacing: 1px;
  text-transform: uppercase;
}

.s5small {
  color: #eb5722;
  font-family: 'Manrope', sans-serif;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  width: 100%;
  font-weight: 500;
  line-height: 19.2px;
  /* 120% */
  letter-spacing: 1px;
  text-transform: uppercase;
}

.blockchainparagraph {
  color: #ffffff;
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 28.25px;
  /* 175% */
}

.blockchainpara {
  font-size: 18px;
  font-weight: 400;
}

.blockchainbutton {
  display: flex;
  flex-direction: row;
  gap: 3vmax;
  /* get 5% usdt on your referral address
    strategic partner
    pancake , metamask, coinmarket, trust wallet */
  justify-content: flex-start;
  width: 100%;

}

/* CARDS */

.blockchaincard {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 32px;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.blockchaincontent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: #e8e8e8;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.blockchaincontent .heading {
  font-weight: 700;
  font-size: 32px;
}

.blockchaincontent .para {
  line-height: 1.5;
  font-size: 16;
}

.blockchaincontent .btn {
  color: #e8e8e8;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.blockchaincard::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
  z-index: -1;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.blockchaincard:hover::before {
  height: 100%;
}

.blockchaincard:hover {
  box-shadow: none;
}

.blockchaincard:hover .btn {
  color: #212121;
  background: #e8e8e8;
}

.blockchaincontent .btn:hover {
  outline: 2px solid #e8e8e8;
  background: transparent;
  color: #e8e8e8;
}

.blockchaincontent .btn:active {
  box-shadow: none;
}


/* CARD2 */

.n5container {
  height: 100%;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22em;
  max-width: 80%;

}

.n5card {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 22em;
  max-width: 80%;
  padding: 2em 0;
  border-radius: 10px;
  background: #000000;
  box-shadow: 0 0 6px 0 rgba(32, 32, 36, 0.12);
  transition: all 0.35s ease;
}

.n5card::before,
.n5card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: orange;
  height: 4px;

}

.n5card::before {
  width: 0;
  opacity: 0;
  transition: opacity 0 ease, width 0 ease;
  transition-delay: 0.5s;
}

.n5card::after {
  width: 100%;
  background: white;
  transition: width 0.5s ease;
}

.n5card .n5content {
  width: 18em;
  max-width: 80%;
  text-align: center;
}

.n5card .n5logo {
  margin: 0 0 1em;
  width: 100%;

  transition: all 0.35s ease;
}

.n5card .n5h6 {
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 2px;
}

.n5card .n5hover_content {
  overflow: hidden;
  max-height: 0;
  transform: translateY(1em);
  transition: all 0.55s ease;
}

.n5card .n5hover_content p {
  margin: 1.5em 0 0;
  color: #cacacb;
  line-height: 1.4em;
}

.n5card:hover {
  width: 22em;
  box-shadow: 0 10px 20px 0 rgba(32, 32, 36, 0.12);
}

.n5card:hover::before {
  width: 100%;
  opacity: 1;
  transition: opacity 0.5s ease, width 0.5s ease;
  transition-delay: 0;
}

.n5card:hover::after {
  width: 0;
  opacity: 0;
  transition: width 0 ease;
}

.n5card:hover .n5logo {
  margin-bottom: 0.5em;
}

.dexbutton {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid #f88410;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.dexbutton:hover {
  background: #f88410;
  box-shadow: 0 0 30px 5px hsla(30, 94%, 52%, 0.881);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.dexbutton:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.dexbutton::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.nftbutton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dexbutton:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}


.n5card:hover .n5hover_content {
  max-height: 10em;
  transform: none;
}

.text-focus-in2 {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.1s both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.1s both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}


@media (min-width:768px) and (max-width:1000px) {
  .blockchaincard {
    width: 40%;
  }
}

@media (max-width:768px) {
  #blockchainsec1 {
    flex-direction: column-reverse;
    height: auto;
    text-align: center;
    margin-top: 20%;
  }

  #blockchainsec2 {
    flex-direction: column-reverse;
  }

  #blockchainleft {
    width: auto;
    gap: 10px;

  }

  .blockchainhead {
    font-size: 40px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .blockchainpara {
    font-size: 15px;
  }

  #blockchainright {
    width: auto;

  }

  .blockchaincard {
    width: auto;
  }

  #blockchainsec4 {
    flex-direction: column-reverse;
    padding: 10px;

  }

  #blockchainsec5 {
    flex-direction: column;
    padding: 10px;

  }

  #s5main {

    width: auto;
  }
}