#ABT-hero {
    min-height: 90vh;
    background-color: black;
    background: url("../assets/about-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

#ABTsec2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;

    margin-bottom: 5%;
}

#ABTleft {
    margin-top: 100px;
    width: 60%;
    height: 90%;
    display: flex;
    gap: 30px;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    z-index: 0;
}

.ABTsmall {

    font-family: 'Manrope', sans-serif;
    text-align: left;
    font-size: 40px;
    font-style: normal;
    width: 100%;
    font-weight: 700;
    line-height: 19.2px;
    /* 120% */
    letter-spacing: 1px;
    text-transform: uppercase;
}

.ABTheading {
    color: white;
    /* -webkit-text-stroke: 2px #fff; */
    font-family: 'Manrope', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;

    width: 100%;
    line-height: 80px;
    /* 130% */
    text-transform: capitalize;
}

.ABTparagraph {
    color: #ffffff;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-style: normal;
    /* justify-self: center; */
    font-weight: 300;
    line-height: 28.25px;

    /* 175% */
}


.ABTsmall3 {

    font-family: 'Manrope', sans-serif;
    text-align: left;
    font-size: 15px;
    font-style: normal;
    width: 100%;
    font-weight: 700;
    line-height: 19.2px;
    /* 120% */
    letter-spacing: 1px;
    text-transform: uppercase;
}

.ABTheading3 {
    color: white;
    /* -webkit-text-stroke: 2px #fff; */
    font-family: 'Manrope', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;

    width: 100%;
    line-height: 70px;
    /* 130% */
    text-transform: capitalize;
}

.ABTparagraph3 {
    color: #ffffff;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-style: normal;
    /* justify-self: center; */
    font-weight: 300;
    line-height: 28.25px;
    /* 175% */
}

.ABTparagraph4 {
    color: #ffffff;
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    font-style: normal;
    /* justify-self: center; */
    font-weight: 300;
    line-height: 28.25px;
    /* 175% */
}


#ABTright {

    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ABTbutton {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: flex-start;
    width: 100%;

}

/* button code */
.dexbutton {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid #f88410;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.dexbutton:hover {
    background: #f88410;
    box-shadow: 0 0 30px 5px hsla(30, 94%, 52%, 0.881);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.dexbutton:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}

.dexbutton::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

#ABT-vid {
    min-height: 90vh;
    margin-top: 50px;
}

#ABTsec3 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    gap: 20px;
    padding: 20px;

    /* margin-bottom: 5%; */
}

#ABTleft3 {
    /* margin-top: 100px; */
    width: 80%;
    height: 90%;
    display: flex;
    gap: 30px;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    z-index: 0;
}

#ABTright3 {

    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ABTright3>img {


    width: "100%";
    height: "fit-content";
    border-radius: 10px;
}
#carousel{
    /* width: 90vw; */
    padding : 40px 80px 30px 80px;
    /* background-color: #f88410; */
}
#cor-card{
    background-color: #353432;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
   width: 90%;
   min-height: 250px;
}
#cor-card>h1{
    text-transform: uppercase;
    font-weight: 800;
}
#cor-card>h3{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}
#cor-card>p{
    
}

@media (max-width:768px) {

    #carousel {
            /* width: 90vw; */
            padding: 40px 0px 30px 0px;
            /* background-color: #f88410; */
        }

    #ABTsec2 {
        flex-direction: column-reverse;
    }

    #ABTleft {
        width: auto;
        gap: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #ABTright {
        display: none;
    }
       

}

@media (max-width:500px) {
.ABTright3>img {

        height: fit-content;
        width: 90vw;
        border-radius: 10px;


    }
}
@media (max-width:1000px) {


    #ABTsec3 {
        flex-direction: column;

    }

    #ABTleft3 {
        width: auto;
        gap: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #ABTright3 {
        /* display: none; */
        align-self: center;
        height: fit-content;
    }

}