buttonb {
  font-size: 12px;
  color: #e1e1e1;
  font-family: inherit;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  border: none;
  
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

buttonb:focus,
buttonb:hover {
  color: #fff;
}

buttonb:focus:after,
buttonb:hover:after {
  width: 100%;
  left: 0%;
}

buttonb:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

@media (max-width:1172px) and (min-width:900px){
  buttonb{
    font-size: 8px;
  }
}