#po-main{
     
   
     
    min-height: 400px;
    width: 70vw;
    background-color: rgb(54, 50, 50);
    /* padding: 0px 20px 20px 20px; */
     
}
.si2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:30px;
}
#cros{
    position: absolute;
    left: 99%;
    top: -10px;
    /* margin: -15px -30px 0px 10px; */
    height: 25px;
    width: 25px;
    border-radius: 100%;
    text-align: center;
     background-color: purple;

}
.close{
    height: 300px;
    width: 30px;
    font-size: 15px;
    text-align: center;
     font-weight: 800;
    border-radius: 100%;
    /* background-color: purple; */
}
.maincontact {
    display: flex;
    min-height: 70vh;
}

.contact-left {
    position: relative;
   background-image: url('../assets/mega.jpg');
   background-size: cover;
    width: 40%;
    
}
#po-left-text {
    rotate: -90deg;
    top: 250px;
    left: -50px;
    text-align: center;
    position: absolute;
    /* margin: -50px; */
}

.contact-right {
    /* background-color: red; */
    /* height: 100px; */
    width: 60%;
}


/* // here is the form */


h1 {
    font-size: 24px;
    /* Adjust font weight, color, and margin as needed */
}

#contact-form {
    width: 100%;
     
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin: auto;

    padding: 20px;

    /* border-radius: 10px; */

}
#contact-form>h1{
    font-size: 40px;
    font-weight: 600;
}
#po-sub{
    background: purple;
}

.form-group {
    margin-bottom: 15px;
    display: flex;

    /* Add spacing between form groups */
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 45%;
    padding: 10px;

    font-size: 16px;
    border: none;
    /* Adjust font family, color, and spacing as needed */
}
#budget{
    width: 45%;
        padding: 10px;
        background-color: #222227;
        /* border: 1px solid #ccc; */
        border-radius: 12px;
        font-size: 16px;
        border: none;
        /* Adjust font family, color, and spacing as needed */
}

textarea {
    width: 100%;
    padding: 10px;
    /* border: 1px solid #ccc; */
    /* border-radius: 12px; */
    font-size: 16px;
    border: none;
    /* Adjust font family, color, and spacing as needed */
}

textarea {
    height: 150px;
    /* Adjust height as needed */
}

button[type="submit"] {
    background-color: purple;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    width: fit-content;
}

input {
    width: 60%;
}

input,
textarea {
    background-color: #222227;
    /* border: 0.5px solid rgb(82, 81, 81); */
}

form {
    background-color: #0F0F0F;
    border: 1px solid #424242;
}

#inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    /* margin-bottom: 20px; */
}

@media (max-width:768px) {

    .maincontact {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        min-height: 100vh;
        gap: 40px;
        /* width: 100vw; */
    }

    .contact-left {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        gap: 40px;
        width: 100%;
    }
         
    
        #po-left-text {
            display: none;
            rotate: 0deg;
            top: 250px;
            left: -50px;
            position: absolute;
            /* margin: -50px; */
        }

    .contact-right {
        /* display: flex; */
        height: fit-content;
        width: fit-content;
        align-self: center;
    }

    #contact-form {
        width: 80vw;

    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],#budget{
        width: 85%;
        padding: 10px;

        /* border: 1px solid #ccc; */
        border-radius: 5px !important;
        font-size: 16px;
        border: none;
        /* Adjust font family, color, and spacing as needed */
    }

    textarea {
        width: 85%;
        justify-content: center;
    }

    #inputs {
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: column;
        gap: 20px;
        /* justify-content:center; */
        align-items: center;
        /* margin-bottom: 20px; */
    }

}





 