.main2{
    width:100%;
    height: 100vh;
    background-color: black;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
   
}

.sec2left{
    padding: 80px;
    width:70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.s2heading{
    color: #FFF;
    font-family: 'Manrope', sans-serif;
font-size: 40px;
font-style: normal;
font-weight: 900;
line-height: 110.5%; /* 44.2px */
text-transform: uppercase;
letter-spacing: 2px;
}
.s2para{
    width: 100%;
    color: white;
font-size: 18px;
font-family: 'Manrope', sans-serif;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
}
.s2img{
  
    width: 60%;
height: 60%;
}
.sec2right{
  width:50%;
  overflow-x: hidden;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

@media (max-width:768px){
    .m21{
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .sec2vdo{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .main2{
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .sec2left{
        width: 100%;
        padding: 40px;
       
    }
    .sec2right{
        width: 100%;
        overflow: hidden;
    }

}