.semain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 50px;

}

.s3main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 50px;

}
.t-area{
    display: flex;
    justify-content: center;
    align-items: center;
  flex-direction: column;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    text-align: center;
    width: 50%;


}
.s3heading{
font-size: 16px;
font-family: 'Manrope', sans-serif;
margin:0px;
}
.s3para1{
  font-family: 'Manrope', sans-serif;
   
font-size: 50px;
font-weight: 800;

}
.s3para2{
font-size: 18px;
margin:0px;
font-family: 'Manrope', sans-serif;
text-align: justify center;
}
@media (max-width:768px){
    .s3main{
      flex-direction: column;
      width: 100%;
    }
    .s3left{
      width: 100%;
    }
    .s3right{
      width: 100%;
    }
    .t-area{
        padding: 40px;
        width: 100%;
      }
      .s3para1{
       
          font-family: Manrope;
          font-weight: 900;
          line-height: 50px;
          font-size: 40px;
        
      }
      .s3heading{
        font-size: 14px;
        font-family: 'Manrope', sans-serif;
        margin:0px;
        }
      
        .s3para2{
        font-size: 14px;
        margin:0px;
        font-family: 'Manrope', sans-serif;
        text-align: justify center;
        }
  }

