.main{
    width:100%;
    height: 90vh;
    background-size: cover;
    background-color: black;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    
}

.heading{
    font-size: 50px;
    font-weight:900;
}
.video{
   
    width: 100%;
    object-fit: cover;
    height: 100%;
    display: flex;
    position: absolute;
   opacity: 0.8;
    right: 0%;
   
}
.trial1{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
  
}
.left{
    justify-content: center;
    align-items: center;
    text-align:center;
    width:60%;
    margin-left: 3%;
    
}

.para{
    font-size: 16px;
}
.know{
display: flex;
flex-direction: row;
gap:40px;
justify-content: center;
align-items: center;
}
.know2{
display: flex;
flex-direction: row;
margin: 10px 0px;
justify-content: center;
align-items: center;
bottom: 0%;
position: absolute;
margin-left: 18px;
}
.arimg2{
    width:30px;
    height: 30px;
    
}

.text-focus-in {
	-webkit-animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
@media (max-width:768px){
    .left{
        width: 95%;
       height: 100%;

    }
    .know2{
        margin-left: 0px;
        margin-top: 20px;
        
    }
    .main{
      height: 90vh;
    }
    .heading{
      font-size: 50px;
      font-weight:900;
  }
  .para{
    font-size: 18px;
}
#btn1{
  font-size: 10px;
}
}

.overlay01{
  width: 100%;
  object-fit: cover;
  height: 100%;
  display: flex;
  position: absolute;
 opacity: 1;
  right: 0%;
  bottom: 0%;
  background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0, 0, 0, 0.505) 39%, rgba(0, 0, 0, 0.308) 77%, rgba(0,0,0,1) 100%);
}
