.s10main{
    width: 100%;
    background-color: pink;
    height: 100%;
    display: flex;
    margin-top: 90px;
    flex-direction: column;
    background-repeat: no-repeat;
    background-color: black;
  
    
 }
 .overlays9{
   width: 100%;
    object-fit: cover;
    height: 100%;
    display: flex;
    position: absolute;
   opacity: 1;
    right: 0%;
    bottom: 0%;
    background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0, 0, 0, 0.605) 39%, rgba(0, 0, 0, 0.44) 77%, rgba(0,0,0,1) 100%);
 }
 .s9i{
    width:200px; height:200px;
   
   
 }
 .s9i:hover{
    transform: scale(1.1);
 }
 .det{
   width:50%;
 }
.imgs9{
   box-shadow: inset 0px 0px 40px 40px #DBA632;
}
.query{
   width: 100%;
   height: 100%;
 background-image: url('/public/NFTDev/query.jpg');
   background-size: cover;
   background-position: bottom center;
   background-repeat: no-repeat;
   padding: 40px 0px;
   display: flex;
   justify-content: center;
   position: relative;
}
.querymain{
   
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     padding: 20px;
}
.queryleft{
   width: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.queryright{
   width: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.contact{
   width: 500px;
   height: 100%;
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.25);
border-radius: 16px;
display: flex;
flex-direction: column;
justify-content: center;
padding: 40px 0px;
align-items: center;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
 
.form__group {
   position: relative;
   padding: 30px 50px;
   width: 100%;
   height: 100%;
   
 }

 .form-control{
   background-color: transparent;
 }

 .form__field {
   font-family: inherit;
   width: 100%;
   border: none;
   border-bottom: 2px solid #ffffff;
   outline: 0;
   font-size: 17px;
   color: #fff;
   padding: 2px 0;
   background: transparent;
   transition: border-color 0.2s;
 }
 
 .form__field::placeholder {
   color: transparent;
 }
 
 .form__field:placeholder-shown ~ .form__label {
   font-size: 17px;
   cursor: text;
   top: 20px;
 }
 
 .form__label {
   position: absolute;
   top: 0;
   display: block;
   transition: 0.2s;
   font-size: 17px;
   color: #ffffff;
   pointer-events: none;
 }
 
 .form__field:focus {
   padding-bottom: 6px;
   font-weight: 700;
   border-width: 3px;
   border-image: linear-gradient(to right, #fab554, #efe038);
   border-image-slice: 1;
 }
 
 .form__field:focus ~ .form__label {
   position: absolute;
   top: 0;
   display: block;
   transition: 0.2s;
   font-size: 17px;
   color: #ffffff;
   font-weight: 600;
 }
 
 /* reset input */
 .form__field:required, .form__field:invalid {
   box-shadow: none;
 }

 .wrap {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 
 @media (max-width:900px){
  .querymain{
    flex-direction: column;
  }
  .queryright{
    width: 100%;
  }
   .master{
     display:none
   }
 }
 .s9button {
   min-width: 300px;
   min-height: 40px;
   font-size: 16px;
   text-transform: uppercase;
   letter-spacing: 1.1px;
   font-weight: 600;
   color: #f3f3f3;
   background: rgb(253, 164, 17);
 background: linear-gradient(90deg, rgba(253, 164, 17,1) 0%, rgb(255, 157, 0) 100%);
   border: none;
   border-radius: 1000px;
   box-shadow: 12px 12px 24px rgba(253, 164, 17,.64);
   transition: all 0.3s ease-in-out 0s;
   cursor: pointer;
   outline: none;
   position: relative;
   padding: 10px;
   }
 
 .s9button::before {
 content: '';
   border-radius: 1000px;
   min-width: calc(298px + 12px);
   min-height: calc(38px + 12px);
   border: 6px solid rgba(254, 184, 71, 0.54);
   box-shadow: 0 0 60px rgba(253, 164, 17,.64);
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   opacity: 0;
   transition: all .3s ease-in-out 0s;
 }
 
 .s9button:hover, .s9button:focus {
   color: #ffffff;
   transform: translateY(-6px);
 }
 
 .s9button:hover::before, .s9button:focus::before {
   opacity: 1;
 }
 
 .s9button::after {
   content: '';
   width: 30px; height: 30px;
   border-radius: 100%;
   border: 6px solid rgb(242, 103, 33);
   position: absolute;
   z-index: -1;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   animation: ring 1.5s infinite;
 }
 
 .s9button:hover::after, .s9button:focus::after {
   animation: none;
   display: none;
 }
 
 @keyframes ring {
   0% {
     width: 30px;
     height: 30px;
     opacity: 1;
   }
   100% {
     width: 150px;
     height: 150px;
     opacity: 0;
   }
 }


 @media (max-width:768px){
   .s10main{
      width: 95%;
   }
   .det{
      width: 100%;

   }
   .s9i{
      width:100px; height:100px;
     
     
   }
 }