.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    padding:  10px 20px;
    /* background: linear-gradient(#000 ,#000 , #00000000);
    position: fixed;
    z-index: 999999; */
   
}
.nav1{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
   gap: 20px;
    flex-direction: row;
}


  /* NAVBAR */
  .nftnavbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .nftnavbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nftdropdown {
    float:right;
    overflow: hidden;
  }
  
  .nftdropdown .nftdropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .nftnavbar a:hover, .nftdropdown:hover .nftdropbtn {
    background-color: red;
  }
  
  .nftdropdown-content {
    display: none;
    position: absolute;
   
    background-color: #090909;
    min-width: 160px;
    padding: 20px;
    border: 1px solid rgb(51, 51, 51);
    border-radius: 7px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .nftdropdown-content a {
    float: none;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
   text-align: center;
   font-size: 14px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .nftdropdown-content a:hover {
    background: linear-gradient(to right, #f32170, 
  #ff6b08, #cf23cf, #eedd44); 
-webkit-text-fill-color: transparent; 
-webkit-background-clip: text; 
  }
  
  .nftdropdown:hover .nftdropdown-content {
    display: block;
  }
.navcollapse{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    gap: 20px;
}
@media (max-width:768px){
   
    .nav1{
        flex-direction: column;
        align-items: start;
    }
}
@media (max-width:992px){
   
    .nav1{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navcollapse{
        flex-direction: column;
    }
}

